@use "./base.scss";

// put your custom CSS here!

@font-face {
    font-family: "Victor Mono";
    src: url("./static/fonts/VictorMono-Regular.woff2") format(woff2);
    font-weight: normal;
}

@font-face {
    font-family: "Victor Mono";
    src: url("./static/fonts/VictorMono-Bold.woff2") format(woff2);
    font-weight: 700;
}

@font-face {
    font-family: "Victor Mono";
    src: url("./static/fonts/VictorMono-SemiBold.woff2") format(woff2);
    font-weight: 600;
}

:root {
    overscroll-behavior: none;
    scroll-padding: 2em;
}

* {
    scrollbar-color: var(--secondary) var(--light);
}

body::before {
    content: '';
    display: block;
    width: 100%;
    height: 10px;
    background: var(--secondary);
    position: fixed;
    z-index: 2;
}

.page > #quartz-body .sidebar {
    gap: 2rem;
}

.page > #quartz-body .sidebar.right:has(ul.tags) {
    gap: 1rem;
}

.page > #quartz-body .sidebar.left {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.page footer { 
    opacity: 1;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 2.5rem;
}

.page footer ul {
    justify-content: center;
}

sup, sup a.internal {
    line-height: 0;
}

.table-container {
    border: 5px solid var(--lightgray);
    border-radius: 10px;
    padding: 0;
    width: fit-content;
}

.table-container table { 
    margin: 0;
}

th {
    background: var(--lightgray);
    color: var(--dark);
    border: 0;
    padding: 0 0.7rem 5px 0.7rem;
}

hr {
   height: 5px; 
}

ul {
    list-style-type: '\2726  ';
}

ul ul {
    list-style-type: '\2727  ';
}

ul ul ul {
    list-style-type: disc;
}

ul ul ul ul {
    list-style-type: circle;
}

input[type="checkbox"] {
  border: 1px solid var(--secondary);
}

.internal {
    padding: 0.1rem 0.2rem !important;
}

.center a[href^="https://ribo.zone"] svg {
    display: none;
}

.center a[href^="https://ribo.zone"]::before {
    content: url("https://ribo.zone/img/favicon.png");
    vertical-align: middle;
    width: 16px;
    line-height: 0;
    margin-right: 6px;
    image-rendering: pixelated;
}

#explorer-content {
    font-size: 0.95rem;
}

.content-meta {
    line-height: 1.25;
    margin: 0.5em 0;
}

.content-meta span {
    display: inline-block;
    text-transform: lowercase;
}

.content-meta span:last-child {
    margin-right: 25%;
}

h1.article-title {
    text-align: center;
    margin: 2rem 0 1rem 0;
    text-wrap: balance;
}

h2:has(.tag-link) {
    border-top: 5px var(--lightgray) solid;
    padding-top: 2rem;
}

#toc h3 {
    text-transform: lowercase;
    opacity: 0.75;
}

#toc-content a {
    font-weight: normal;
}

#toc-content > ul > li > a:hover,
#toc-content > ul > li > a:focus {
    opacity: 1;
}

.graph h3 {
    display: none;
}

.page-listing time {
    text-transform: lowercase;
}

.page-listing ul.section-ul {
    margin-top: 1.5rem;
}

.page-listing .section .tags {
	display: none;
    gap: 0;
}

.page-listing .section:hover .tags {
	display: flex;
    height: 1.6rem;
    overflow: hidden;
}

.page-listing .section:has(a[href="../"]), .page-listing .section:has(a[href="/"]) {
	display: none;
}

.callout .callout-content {
    margin-top: -0.5rem;
}

blockquote hr {
    margin: 0 auto;
    filter: brightness(2);
    height: 1px;
}

ul.tags li {
    margin-right: 0.25rem;
}

.right ul.tags {
    margin: 0;
}

ul.overflow > li:last-of-type {
    margin-bottom: 0;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.page-footer .search {
    max-width: 100%;
    padding-bottom: 1rem;
}

.search > #search-container > #search-space > input,
.search > #search-container > #search-space > #search-layout {
    border: 5px solid var(--lightgray);
}

.search > #search-container > #search-space > #search-layout > #results-container .result-card {
    border-bottom: 5px solid var(--lightgray);
}

a:hover {
  text-decoration: 2px dotted underline;
  text-underline-offset: 2px;
}

@media (max-width:800px) {
    :root {
        font-size: 0.85rem;
    }
    ul {
        padding-left: 1.38em;
    }
    .page > #quartz-body .sidebar.left {
        padding: calc(0.75rem + 10px) 0 0.75rem 0;
        position: sticky;
        background: var(--light);
        width: 100%;
        font-size: 80%;
    }
    .page > #quartz-body .sidebar.left .page-title {
        font-size: 1.5rem;
    }
    .page > #quartz-body .sidebar.right .backlinks > .overflow {
        height: fit-content;
        border-bottom: 5px solid var(--lightgray); 
        padding-bottom: 2.5rem;
    }
    .page > #quartz-body .sidebar.right .backlinks > h3 {
        text-transform: lowercase;
    }
    .center ul.tags {
        display: block;
    }
    .page-listing .section:hover .tags {
        display: none;
    }
    li.section-li > .section {
        grid-template-columns: fit-content(8em) 3fr 0fr;
    }
    .content-meta span {
        margin-right: 0.75em;
    }
}

@media (min-width:800px) {
    .search { 
        flex: 1;
    }
    .page > #quartz-body .sidebar.left {
        gap: 2rem 10px;
        height: fit-content;
    }
    .page > #quartz-body .sidebar.left .graph {
        width: calc(100% - 50px);
        margin: 0;
    }
    .page-title { 
        width: 100%;
    }
    .search > #search-container > #search-space > #search-layout[data-preview] > div:first-child {
        border-right: 5px solid var(--lightgray);
    }
    .content-meta.desktop-only {
        color: var(--darkgray);
        margin: 4.5rem 0 0 0;
    }
    .content-meta.desktop-only span {
        opacity: 0.75;
        line-height: 1.5rem;
    }
    .content-meta.desktop-only,
    .toc.desktop-only {
        background-color: var(--light);
        border-radius: 5px;
        border: 5px solid var(--lightgray);
        padding: 10px;
    }
    .toc.desktop-only #toc-content .overflow {
        margin: 5px 0 0 5px;
    }
    h1.article-title {
        margin: 2rem 0;
    }
    .page blockquote:not(.callout) {
        border-left-width: 4px;
        margin-left: 23px;
    }
}

@media (min-width:1200px) {
    body {
        --s: 5rem;
        --c1: var(--lightgray);
        --c2: var(--light);

        --_g: #0000 90deg,var(--c1) 0;
        background: 
        conic-gradient(from 90deg at 1px 1px,var(--_g)),
        conic-gradient(from 90deg at 1px 1px,var(--_g)),
        var(--c2);
        background-size: var(--s) var(--s), calc(var(--s)/5) calc(var(--s)/5);
        background-attachment: fixed;
        background-position: 10px 10px;
    }
    .center, footer {
        background: var(--light);
        outline: 1rem solid var(--light);
    }
    footer {
        padding-bottom: 1rem;
        margin-top: -1rem;
    }
    #graph-container {
        background: var(--light);
    }
    .page > #quartz-body .sidebar.right .backlinks {
        display: none;
    }
    .page > #quartz-body .sidebar.right {
        margin-left: 20px;
    }
}